<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}

    <form method="POST">
        <input type="number" name="barcode" placeholder="Enter barcode" value="{% if barcode %}{{ barcode }}{% endif %}" required>
        <input type="text" name="first-name" placeholder="Enter first name" value="{% if first_name %}{{ first_name }}{% endif %}" required>
        <input type="text" name="last-name" placeholder="Enter last name" value="{% if last_name %}{{ last_name }}{% endif %}" required>
        <input type="password" name="password" placeholder="Enter password" value="{% if password %}{{ password }}{% endif %}" required>
        <input type="password" name="password-confirm" placeholder="Confirm password" value="{% if password_confirm %}{{ password_confirm }}{% endif %}" required>
        <button>Register</button>
    </form>
</body>
</html>